<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">



<!--    注册bean-->
    <bean id="userService" class="com.jokerdig.service.UserServiceImpl"/>
    <bean id="log" class="com.jokerdig.log.Log"/>
    <bean id="afterLog" class="com.jokerdig.log.AfterLog"/>
<!--    方式一：使用原生Spring API-->
<!--    配置aop 需要导入aop约束-->
    <aop:config>
<!--        切入点：expression 表达式：execution(要执行的位置)-->
        <aop:pointcut id="pointcut" expression="execution(* com.jokerdig.service.UserServiceImpl.*(..))"/>
<!--        执行环绕增加-->
        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>
        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>


    </aop:config>

</beans>