<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">



<!--    注册bean-->
    <bean id="userService" class="com.jokerdig.service.UserServiceImpl"/>
    <bean id="log" class="com.jokerdig.log.Log"/>
    <bean id="afterLog" class="com.jokerdig.log.AfterLog"/>
<!--方式三 使用注解实现AOP-->
    <bean id="annocationPointCut" class="com.jokerdig.diy.AnnotationPointCut"/>
<!--    开启注解支持-->
    <aop:aspectj-autoproxy/>


</beans>