<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    使用spring创建对象 spring都称为Bean
        正常创建
        类型 变量名 = new 类型();
        Hello hello = new Hello();

        id = 变量名
        class = new对象
        property  相当于为对象属性赋值
        这里的赋值还是使用pojo中的set方法
    -->
    <bean id="hello" class="com.jokerdig.test.pojo.Hello">
<!--        name  实体类中定义的变量
            ref  引用Spring容器中创建好的对象
            value  具体的值
-->
        <property name="name" value="Spring"/>
    </bean>


</beans>
